
<div class="container">
  <div class="row" id="Headernav" style="background-color:#03142B;text-align:center; font-style:italic; width: 100%;height:100px;margin-left: -8px;position: fixed;">
    <h1 style="color: white;">Github User Search</h1><br><br   >
     <input [(ngModel)]="userName" placeholder=" Search GitHub" style="height:39px; width:304px; border-radius:5px;">
     <button (click)="userSearch()" class="btn btn-primary btn-lg">SEARCH</button>
  </div>

  <div class="row">
  <div class="col-sm-6">
   
    </div>
  </div>
  
</div>





 




























<!--c3184bf9e2336853ed6e20fa3fead81d16af64ed-->