/* You can add global styles to this file, and also import other style files */
@import "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css";
#instructions {
  margin: 10px;
  padding: 10px;
  background-color: #7986CB;
  background-opacity: 0.5;
  border-radius: 15px;
  box-shadow: 3px 3px 11px #000000;
  margin-top: 180px;
  
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #03142B;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}
body{
	background-color: #EEEEEE;
  background-image: url(assets/image6.jpg);
  background-attachment: fixed;
}

.button {
  display: inline-block;
  border-radius: 20%;
  background-color: #E0E0E0;
  border: none;
  color: black;
  text-align: center;
  font-size: 20px;
  padding: 20px;
  width: 250px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 2px;
  opacity: 0.8;

  border: 2px solid black;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;

}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
  color: white;

}

.button:hover span:after {
  opacity: 1;
  right: 0;
  color: white;

}

.button:hover {
  background-color: black;
}



/*#CFD8DC*/